<!-- Launches Neato Gazebo simulation in an empty world -->
<launch>
  <arg name="gui" default="true"/>
  <arg name="load_camera" default="false"/>
  <arg name="use_gpu_laser" default="true"/>
  
  <include file="$(find neato_gazebo)/launch/neato_world.launch">
   <arg name="neato_world" value="empty"/>
   <arg name="load_camera" value="$(arg load_camera)"/>
   <arg name="use_gpu_laser" value="$(arg use_gpu_laser)"/>
  </include>
</launch>
